section.behandeling.content {
  @include outer-container;
  margin-top: em(100);

  @include media($tablet) {
    margin-top: em(40);
  }
  
  @include media($mobile) {
    margin-top: 0px;
  }

  article {
    @include span-columns(7);
    @include pad(0px 0px 0px 20px);

    @include media($mobile) {
      position: static;
      padding: .5em 1.5em;
      margin-top: em(20);
      margin-bottom: em(20);
      @include fill-parent;
    }
    img {
      @include pad(20px 0px);

      @include media($tablet) {
        @include pad(5px 0px);
      }
    }
    
    ul {
      @include pad(0px 0px 20px 0px);
      list-style-image:url('../images/bullet.png');
      padding-left: em(18);
    }
    li {
      padding-left: em(5);
    }
  }

  aside {
    @extend .afspraak;
  }
}
