section.behandeling.content {
  @include outer-container;
  margin-top: em(100);

  @include media($mobile) {
    margin-top: 0px;
  }

  @include media($tablet) {
    margin-top: em(40);
  }
  
  article {
    @include span-columns(7);
    @include pad(0px 0px 0px 20px);

    @include media($mobile) {
      position: static;
      padding: .5em 1.5em;
      margin-top: em(20);
      margin-bottom: em(20);
      @include fill-parent;
    }
    img {
      @include pad(20px 0px);

      @include media($tablet) {
        @include pad(5px 0px);
      }
    }
    
    ul {
      @include pad(0px 0px 20px 0px);
      list-style-image:url('../images/bullet.png');
      padding-left: em(18);
    }
    li {
      padding-left: em(5);
    }
  }

  aside {
    @include span-columns(4);
    @include shift(1);
    @include pad(1.5em);

    @include media($mobile) {
      position: static;
      padding: .5em .5em;
      @include fill-parent;
      @include shift(0);
      margin: em(10) auto em(20) em(20);
      width: 90%;
    }

    @include media($tablet) {
      margin-left: em(20);
    }

    background: $pink;
    border-radius: 10px;
    border: 2px solid darken($pink, 5);
    @include linear-gradient($pink, darken($pink, 5));

    h2 {
      color: $white;
      text-shadow: 1px 1px 0 darken($pink, 10);
      text-align: center;

      @include media($tablet) {
        font-size: em(18);
      }

      @include media($mobile) {
        font-size: 1em;
      }
    }

    p {
      color: $white;
      text-align: center;
    }

    div {
      margin: 0 auto;
      width: 100px;
      a.button {
      @include button($gray);
      font-size: 1em;
      @include media($mobile) {
        font-size: .8em;        
      }
     }
    }
  }
}
