section.behandeling.content {
  @include outer-container;
  margin-top: em(50);

  @include media($tablet) {
    margin-top: em(40);
  }
  
  @include media($mobile) {
    margin-top: 0px;
  }

  article {
    @include span-columns(12);
    @include pad(0px 0px 0px 20px);

    @include media($mobile) {
      position: static;
      padding: .5em 1.5em;
      margin-top: em(20);
      margin-bottom: em(20);
      @include fill-parent;
    }
    img {
      float: right;
      margin-left: em(20);

      @include media($tablet) {
        @include pad(5px 0px);
      }

      @include media($mobile) {
        display: block;
        width: 100%;
        margin-bottom: em(20);
      }
    }
    
    ul {
      @include pad(0px 0px 20px 0px);
      list-style-image:url('../images/bullet.png');
      padding-left: em(18);
    }
    li {
      padding-left: em(5);
    }
  }
  .button {
    @extend .pink-button;
    float: left;
  }
}
