section.behandelingencat.content {
  @include outer-container;
  margin-top: em(50);

  > h1 {
    text-align:center;
    font-size: 2em;
    @include media($mobile){
      font-size: 1.5em;
    }
  }

  @include media($tablet) {
    margin-top: em(40);

    h2 {
      margin-left: 1.5em;
      margin-bottom: 0px;
      //text-align: center;
    }
  }

  div.behandelingen {
    @include span-columns(7);
    @include pad(0px 0px 0px 20px);
    @include media($mobile) {
      position: static;
      padding: .5em 1.5em;
      margin-bottom: em(20);
      @include fill-parent;
    }

    article {
      @include clearfix;
      margin: 15px 0 20px 0;
      padding-bottom: em(20);
      border-bottom: 2px dotted $pink;
      &:last-child {
        border-bottom: none;
      }
      @include media($mobile) {
        h1 { 
          font-size: 1.2em;
        }
      }
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: em(20);

      @include media($tablet) {
        @include pad(5px 0px);
      }
    }


    ul {
      li {
        margin: 20px 0;
      }
    }

    .button {
      @extend .pink-button;
      @include media($mobile) {
        float: left;
      }
    }

  }
}
