section.contact.content {
  @include outer-container;
  margin-top: em(50);

  @include media($tablet) {
    margin-top: em(40);
  }

  @include media($mobile) {
    margin-top: 0px;
  }

    article {
      @include span-columns(7);
      @include pad(0px 0px 0px 20px);

      @include media($tablet) {
        @include span-columns(5);
      }

      @include media($mobile) {
        position: static;
        padding: .5em .5em;
        margin-top: em(20);
        margin-bottom: em(20);
        border-bottom: 2px solid lighten($gray, 30);
        @include fill-parent;
        header {
          margin-bottom: em(20);
        }
        p {
          font-size: em(14);
        }
      }

      div.errorlist {
        margin-top: em(30);
        padding-top: em(5);
        ul {
          li {
          color: #ff0000;
          }
        }
      }
    }

    form {
      @include media($mobile) {
        @include clearfix;
        margin-bottom: em(20);
      }
    textarea {
      height: 200px;
    }

    input[type='submit'] {
      @extend .pink-button;
    }

    div.honey {
      display: none;
    }

  }

  aside {
    @include span-columns(3);
    @include shift(2);
    
    @include media($tablet) {
      @include span-columns(3);
      @include shift(0);
      margin-left: em(0);

      p {
        font-size: em(14);
      }
    }

    @include media($mobile) {
        position: static;
        padding: .5em 1.5em;
        @include fill-parent;
        @include shift(0);
    }


    .graphic {
      color: $pink;
    }
  }
}

