section.contact.content {
  @include outer-container;
  margin-top: em(100);
  @include media($mobile) {
    margin-top: 0px;
  }

    article {
      @include span-columns(7);
      @include pad(0px 0px 0px 20px);
      @include media($mobile) {
        position: static;
        padding: .5em 1.5em;
        margin-top: em(20);
        margin-bottom: em(20);
        border-bottom: 2px solid lighten($gray, 30);
        @include fill-parent;
        header {
          margin-bottom: em(20);
        }
        p {
          font-size: em(14);
        }
      }
    }

    form {
    textarea {
      height: 200px;
    }

    input[type='submit'] {
      @include inline-block;
      @include pad(0.6em 1.0em);
      @include linear-gradient($pink, darken($pink, 10));
      float: right;
      outline: none;
      user-select: none;
      white-space: nowrap;
      border: 2px solid darken($pink, 5);
      box-shadow: 3px 2px 2px lighten($pink, 10);
      border-radius: 6px;
      background: $pink;
      color: rgba(250, 250, 250, 0.9);
      text-shadow: 1px 1px 0 darken($pink, 10);
      opacity: .9;
      
      &:hover {
        opacity: 1;
        box-shadow: 2px 1px 1px lighten($pink, 10);;
        color: rgba(250, 250, 250, 1);

      }
    }
  }

  aside {
    @include span-columns(3);
    @include shift(2);

    @include media($mobile) {
        position: static;
        padding: .5em 1.5em;
        @include fill-parent;
        @include shift(0);
    }

    .graphic {
      color: $pink;
    }
  }
}

