div.footer-spacer {
  background: $white;
  height: 155px;
}

footer {
  background: $gray;
  section.footer {
    @include outer-container;
    @include pad(20px);

    ul.contact {
      //@include shift(1);
      @include span-columns(4);
      margin-right: 0px;
      li {
        color: $white;

        a {
          color: $white;

          &:hover {
            color: $pink;
          }
        }
        }
      }
    }
    
    h1 {
      color: $white;
      margin-bottom: em(2);
    }
    article.openingsuren {
      @include span-columns(8);
      p {
        color: $white;
      }
    }
  }


