div.footer-spacer {
  background: $white;
  height: 155px;

  @include media($mobile) {
    height: auto;
  }

  @include media($tablet) {
    height: 40px;
  }
  
}

footer {
  background: $gray;
  section.footer {
    @include outer-container;
    @include pad(20px);

   
    ul.contact {
      //@include shift(1);
      @include span-columns(4);

      @include media($mobile) {
        position: static;
        padding: .5em 0;
        font-size: em(14);
        @include fill-parent;
      }

      @include media($tablet) {
        font-size: em(14);
      }

      margin-right: 0px;
      li {
        color: $white;

        a {
          color: $white;

          &:hover {
            color: $pink;
          }
        }
        }
      }
    }
    
    h1 {
      color: rgba(250, 250, 250, .7);
      margin-bottom: em(2);

      @include media($tablet) {
        font-size: em(18);
      }
    }
    article.openingsuren {
      @include span-columns(8);
      p {
        color: $white;
        @include media($mobile) {
          font-size: em(14);
        }
        @include media($tablet) {
          font-size: em(14);
        }
      }

      @include media($mobile) {
       position: static;
       padding: .5em 0;
       @include fill-parent;
      }

    }
  }


