header.top-bar {
  @include outer-container;
  @include pad(0px em(10) 0px em(10));
  margin-top: em(20);
  height: 185px;

  @include media($mobile) {
    position: static;
    padding: 0em 1.5em 1em 1.5em;
    margin-top: 0px;
    @include fill-parent;
    height: auto;
    background: $pink;
   
  }

  @include media($tablet) {
    height: auto;
  }

  div.logo {
    float: left;
    img {
      height: 150px;
      max-width: 100%;
    }
    h1 {
      text-align: center;
    }

    @include media($medium-screen) {
      img {
        width: 80%;
        height: auto;
      }
    }


    @include media($tablet) {
      margin-left: em(10);
      h1 { 
        font-size: 1em;
      }
      img {
        width: 60%;
        height: auto;
      }
    }
    @include media($mobile) {
      @include fill-parent;
      position: static;
      margin-left: 0px;
      h1 { 
        margin-top: em(10);
      }
      img {
        display: none;
      }
    }
  }

  span.graphic {
    float: right;
    color: $pink;
    margin-right: 2.1em;
    font-size: 1.2em;

    @include media($tablet) {
      margin-right: 1.2em;
    }

    &:hover {
        @include media($mobile) {
          color: $white;
        }

      }
    

    a.phone {

      &:hover {
        color: $blue;
      }
    }
    
    @include media($tablet) {
      a.phone {
        font-size: em(12);
      }

      i {
        font-size: em(12);
      }
    }

    @include media($mobile) {
      float: left;
      margin-top: 0;
      a.phone {
        font-size: em(12);
        color: $white;
      }
      i {
        font-size: em(12);
        color: $white;
      }
    }

  }

  span.social {
    float: right;
    font-size: 1.2em;
    i {
    text-align: center;
    width: 25px;
    height: 25px;
    padding-top: 3px;
    background: $pink;
    color: #fff;
    border-radius: 50px;
    }
    a:hover {
      color: $blue;
    }

    @include media($tablet) {
      a {
        font-size: em(12);
      }

      i {
        font-size: em(12);
      }
    }
    @include media($mobile) {
      float: left;
      margin-top: 0;
      margin-right: em(10);
      a {
        font-size: em(12);
        color: $white;
      }
      i {
        width: 20px;
        height: 20px;
        font-size: em(12);
        background: $white;
        color: $pink;
      }
    }
  }

  i#nav-dropdown {
    display: none;
    float: right;
    padding: 5px 0 0 20px;

    @include media($mobile) {
      display: block;
    }
  }
}

nav {
    
     float: right;
     z-index: 5;
     position: relative;
     
    @include media($tablet) {
      margin-top: 0;
      float: left;
    }

    @include media($mobile) {
      @include fill-parent;
      padding-top: 0;
    }

    ul {
      font-family: $sans-serif;
      //font-weight: 700;
      margin: 60px 0 0 0;
      position: relative;	

      @include media($medium-screen)
      {
        //margin: 30px 0 0 0;
      }

      @include media($mobile) {
        display: none;
        background: $white;
        margin-top: 1em;
        border-radius: 6px;
      }

      @include media($tablet) {
        margin: 30px 0 0 0;
      }


    }

    
    ul li {
      position: relative;
      @include pad( default 1em );
      @include inline-block;
      line-height: em(40);
      list-style-type: none;
      text-align: center;

      @include media($medium-screen) {
        @include pad( default .9em );
      }

      &.dropdown {
        @include media($mobile){
          i {
            float: right;
            margin-right: em(25);
            margin-top: em(22);
            color: $white;
            font-size: 16px;
          }
        }
      }

      &:hover ul {
        left: 0px;
      }


      @include media($tablet) {
        @include pad( default .3em);
        font-size: 0.9em;
        line-height: em(35);
      }

      @include media($mobile){
        background: $gray;
        @include fill-parent;
        padding: 0;
        border-bottom: 1px solid lighten($gray, 5);
        line-height: em(60);

        &:hover {
          opacity: .9;
        }

        &.active {
          border-bottom: none;
          color: $pink;
          opacity: .9;

          a {
            border-bottom: none;
          }
         }
        }
      a {
        color: $gray;
        @include pad(0.6em);
        border-bottom: 3px solid transparent;
        font-size: em(18);
        font-weight: 700;

        @include media($tablet) {
          @include pad(0.2em);
          font-size: 1em;
        }

        @include media($mobile) {
          color: rgba(250, 250, 250, .9);
        }
        &.active {
          border-bottom: 3px solid $pink;
          @include media($mobile) {
            border-bottom: none;
          }
        }
        &:hover {
          border-bottom: 3px solid $pink;
          color: $pink;

          @include media($mobile) {
            border-bottom: none;
          }
        }
      }
    }

    ul ul {
      margin-top: 0px;
      padding: 0;
      position: absolute;
      left: -9999px;
      background: $gray;
      opacity: .9;
      border-radius: 6px;

      @include media($mobile) {
        left: 0px;
      }
      
      a {
        color: $white;
        font-size: .8em;
        &:hover {
          border-bottom: none;
          color: $white;
        }
        @include media($mobile) {
          font-size: 1em;
        }
      }
    }


    ul ul li {
      @include fill-parent;
      padding: 0;
      border-bottom: 1px solid lighten($gray, 5);
      @include transition (background .3s ease-in-out);
      &:hover {
        background: lighten($gray, 5);
        @include media($mobile) {
          background: none;
        }
      }
      &:last-child {
        @include media($mobile) {
          border: none;
        }

      }
    }
  }
