header.top-bar {
  @include outer-container;
  margin-top: 10px;
  height: 150px;

  @include media($mobile) {
    position: static;
    padding: 0em 1.5em 1em 1.5em;
    margin-top: 0px;
    @include fill-parent;
    height: auto;
    background: $pink;
   
  }

  @include media($tablet) {
    height: auto;
  }

  div.logo {
    float: left;
    img {
      height: 150px;
      max-width: 100%;
    }

    @include media($mobile) {
      display: none;
    }

    @include media($tablet) {
      margin-left: em(10);
      img {
        width: 60%;
        height: auto;
      }
    }
  }

  span.graphic {
    float: right;
    margin-right: 2.1em;
    color: $black;
    font-size: 1.2em;

    @include media($tablet) {
      margin-right: 1.2em;
    }

    &:hover {
        color: $pink;
      }
    

    a.phone {
      color: $black;

      &:hover {
        color: $pink;
      }
    }
    @include media($mobile) {
      float: left;
      margin-top: 0;
      a.phone {
        font-size: em(12);
      }
      i {
        font-size: em(12);
      }
    }

    @include media($tablet) {
      a.phone {
        font-size: em(12);
      }

      i {
        font-size: em(12);
      }
    }
  }

  i#nav-dropdown {
    display: none;
    float: right;
    padding: 5px 0 0 20px;

    @include media($mobile) {
      display: block;
    }
  }
}

nav {
    float: right;

    @include media($tablet) {

      margin-top: 0;
      float: left;

    }

    @include media($mobile) {
      @include fill-parent;
      padding-top: 0;
    }

    ul {
      font-family: $sans-serif;
      //font-weight: 700;
      margin: 60px 0 0 0;

      @include media($mobile) {
        display: none;
        background: $white;
        margin-top: 1em;
        border-radius: 6px;
      }

      @include media($tablet) {
        margin: 30px 0 0 0;
      }

      li {
        @include pad( default 1.5em );
        @include inline-block;
        line-height: em(80);
        list-style-type: none;
        text-align: center;

        &.active a {
            border-bottom: 3px solid $pink;
        }

        @include media($tablet) {
          @include pad( default .3em);
          font-size: 0.8em;
          line-height: 1em;
        }

        @include media($mobile){
          background: $gray;
          @include fill-parent;
          padding-left: 0;
          border-bottom: 1px solid lighten($gray, 5);
          line-height: em(35);

          &:hover {
            opacity: .9;
          }

          &.active {
            border-bottom: none;
            color: $pink;
            opacity: .9;

            a {
              border-bottom: none;
            }
           }
          }
        a {
          color: $black;
          @include pad(0.6em);
          border-bottom: 3px solid transparent;
          font-size: em(18);

          @include media($mobile) {
            color: rgba(250, 250, 250, .9);
            //color: $white;
          }
          &:hover {
            border-bottom: 3px solid $pink;
            color: $pink;

            @include media($mobile) {
              border-bottom: none;
            }
          }
        }
      }

    }
  }
