section.content {
  @include outer-container;
  margin-top: 30px;
  @include media($mobile) {
    margin-top: 0px;
  }
  article.banner {
    @include outer-container; 
    margin-top: 30px;
    @include media($mobile) {
      display: none;
    }

    div.bx-wrapper {
      @include media($tablet) {
        width: 95%;
      }
    }

    div.bx-viewport {
      background: #f8f8f6;
    }
    div.slidertext{
      @include span-columns(5);
      @include shift(1);

      @include media($tablet) {
        @include span-columns(4);
        @include shift(0);
        margin-left: em(10);
        padding-right: em(5);
      }
    }
    img {
      float: left;

      @include media($tablet)
      {
        width: 45%;
      }
    }

    h2 {
      font-size: 2em;
      padding-top: 1em;
      margin-bottom: .7em;
      color: darken($gray, 10);

      @include media($tablet) {
        font-size: 1.2em;
        padding-top: .5em;
        margin-bottom: .3em;
      }
    }

    p {
      @include media($tablet) {
        font-size: em(14);
        margin-bottom: 0;
      }
      &.tagline {
        margin-bottom: .7em;
        @include media($tablet) {
          margin-bottom: .3em;
          font-size: em(18);
        }
      }
      &.more-info {

      }
    }

    p {
      
    }
    
    a {
      color: darken($gray, 10);
      float: right;
      font-weight: 600;
      &:hover {
        color: $pink;
      }
    }
  }

  div.mobile-logo {
    display: none;
    width: 150px;
    margin: 1.2em auto 0px auto;
    @include media($mobile) {
      display: block;
    }
  }




  article.section {
    @include outer-container;
    @include span-columns(4);
    @include pad(0 1em);

    margin-top: em(50);
    margin-bottom: 0;
    height: 250px;


    @include media($mobile) {
      position: static;
      padding: .5em 1.5em;
      margin-top: em(20);
      margin-bottom: em(20);
      border-bottom: 2px solid lighten($gray, 30);
      @include fill-parent;

    }

    @include media($tablet) {
      margin-top: 0;
    }

    header {
      @include row();
      margin-bottom: 2.0em;
      text-align: center;

      @include media($mobile) {
        margin-bottom: 1em;
      }
      @include media($tablet) {
        margin-bottom: 1em;
      }
    }

    @include media($tablet) {
      h1 {
        font-size: em(16);
        margin-bottom: .5em;
      }

      p {
        font-size: em(14);
      }

      ul {
        font-size: em(14);
      }
    }

    p {
      color: lighten($black, 10);
    }

    a{
      float: right;
      margin-right: em(30);
      @include pad(.4em);
      font-weight: 700;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid $pink;
        color: $pink;
      }
    }
    ul {
      list-style-image:url('../images/bullet.png');
      padding-left: 1em;
    }
  }
}
