section.content {
  @include outer-container;
  margin-top: 30px;
  @include media($mobile) {
    margin-top: 0px;
  }
  article.banner {
    margin-top: 30px;
    @include media($mobile) {
      display: none;
    }
  }

  div.mobile-logo {
    display: none;
    width: 150px;
    margin: 1.2em auto 0px auto;
    @include media($mobile) {
      display: block;
    }
  }


  article.section {
    @include outer-container;
    @include span-columns(4);
    @include pad(0 1em);

    margin-top: em(50);
    margin-bottom: 0;
    height: 250px;


    @include media($mobile) {
      position: static;
      padding: .5em 1.5em;
      margin-top: em(20);
      margin-bottom: em(20);
      border-bottom: 2px solid lighten($gray, 30);
      @include fill-parent;

    }

    header {
      @include row();
      margin-bottom: 2.0em;
      text-align: center;

      @include media($mobile) {
        margin-bottom: 1em;
      }
    }

    p {
      color: lighten($black, 10);
    }

    a{
      float: right;
      margin-right: em(30);
      @include pad(.4em);
      font-weight: 700;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid $pink;
        color: $pink;
      }
    }
    ul {
      list-style-image:url('../images/bullet.png');
      padding-left: 1em;
    }
  }
}
