section.content {
  @include outer-container;
  margin-top: 30px;
  article.banner {
    margin-top: 30px;
  }

  article.section {
    @include outer-container;
    @include span-columns(4);
    @include pad(0 1em);
    position: relative;
    margin-top: em(50);
    margin-bottom: 0;
    height: 250px;

    header {
      @include row();
      margin-bottom: 2.0em;
      text-align: center;
    }

    p {
      color: lighten($black, 10);
    }

    a{
      margin-right: em(30);
      @include pad(.4em);
      font-weight: 700;
      position: absolute;
      bottom: 0px;
      right: 0px;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid $pink;
        color: $pink;
      }
    }
    ul {
      list-style-image:url('../images/bullet.png');
      padding-left: 1em;
    }
  }
}
